:root {
	font-size: 20px;
}

label {
	padding-right: 10px;
	text-align: end;
}

form div {
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

form {
	margin: auto;
	padding: 10px;
}

form button {
	margin-top: 20px;
	color: white;
	background: #e1454b;
	border-radius: 0px;
}
