.card {
	justify-content: space-between;
	flex-direction: column;
	background-color: #f3f7f0;
	color: #19323c;
	box-shadow: 0px 0px 5px #f3f7f0;
	border-radius: 5px;
	width: 250px;
	margin: auto;
}

.card div:first-child {
	display: flex;
}

.card div:last-child {
	padding: 10px;
	display: flex;
	justify-content: space-around;
}

.card img {
	width: 150px;
	height: 150px;
	margin: auto;
}

.card p {
	margin-bottom: 0;
	margin-top: 5px;
}

.card:hover {
	box-shadow: 0px 0px 10px white;
}

.category {
	width: 100px;
	height: 30px;
	margin: auto;
	bottom: 210px;
	left: 130px;
	position: relative;
	background-color: #bc8034;
	color: #f3f7f0;
}

.marketing {
	background-color: #bc8034;
}

.client {
	background-color: #f2545b;
}

.technique {
	background-color: #2667ff;
}

.userInfos {
	width: 250px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: auto;
}

.button {
	margin: auto;
	margin-top: 10px;
	background-color: #a93f55;
	border: none;
}

.button:hover {
	background-color: #b4242b;
}

.listContainer {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 80px;
	margin-top: 40px;
}

.input {
	margin: 30px 20px;
	width: 100px;
	height: 40px;
	border-radius: 5px;
	background-color: #f3f7f0;
	color: #19323c;
}

label {
	font-size: 14px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.filter {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

@media screen and (min-width: 768px) {
	.card {
		flex-direction: row;
		padding: 20px;
	}

	.category {
		bottom: 210px;
		left: 150px;
	}

	.userInfos {
		align-items: flex-start;
	}

	.listContainer {
		grid-template-columns: repeat(2, 1fr);
	}

	.input {
		width: 200px;
	}

	.filter {
		display: flex;
		justify-content: center;
	}
}
